{% extends "base.html" %}

{% load url from future %}

{% block extra-menu %}
	<a href="{% url 'words.views.manage.new_lesson' %}">New</a>
{% endblock %}

{% block content %}
	<h3>Lessons</h3>
    <table class="model">
    	<tr>
    		<th>Name</th>
    		<th>Created</th>
    		<th>Question count</th>
    		<th>To learn</th>
    	</tr>
        {% for lesson in lessons %}
        	<tr>
            	<td><a href="{% url 'words.views.manage.lesson_details' lesson.id %}">{{ lesson.name }}</a></td>
            	<td>{{ lesson.created_at|timesince }} ago</td>
            	<td class="right">{{ lesson.question_count }}</td>
            	<td class="right"><a href="{% url 'learn_lesson' lesson.id %}">{{ lesson.question_to_learn_count}}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}