{% extends "base.html" %}

{% load url from future %}
{% load templates %}

{% block preload_css %}
	<style>
		#question_frame{
			vertical-align: top;
			padding-left: 10px;
		}
		
	</style>
{% endblock %}

{% block preload_js %}
	<script>
		function show_question_form(){
			$("#question_frame").load("{% url 'words.views.manage.question_new_tile' %}", 
					function(responseText, status, request) {
  						if(request.status != 200){
  							alert('Can\'t show question form. Try again...');
  						}
  						else{
  							$("#id_question").focus();
  						}
  					}
  			);
		}
		
		function show_question_details(question_id){
			url = "{% url 'words.views.manage.question_details_tile' '000' %}";
			url = url.replace('000', question_id);
			
			$("#question_frame").load(url, 
					function(responseText, status, request) {
  						if(request.status != 200){
  							alert('Can\'t show question details. Try again...');
  						}
  					}
  			);
		}
		
		function add_question(){
			form_inputs = {} 
			$("form#question_form input").filter(function(index){
				return this.id.match(/^id_/)
			}).each(function(index){
				form_inputs[this.name] = this.value;	
			});
			
			$("#question_frame").load("{% url 'words.views.manage.question_new_tile' %}",
					form_inputs,
					function(responseText, status, request) {
  						if(request.status != 200){
  							alert('Can\'t show question details Try again...');
  						}
  					}
  			);
		}
		
		function add_answer_row(answer_idx){
			idx = answer_idx + 1
			$("#answer_row_"+idx).show();
			$("#answer_more_"+answer_idx).hide();
	    }
	</script>
{% endblock %}

{% block extra-menu %}
	<a href="javascript:show_question_form()">Add question</a>
	<a href="{% url 'words.views.manage.lesson_list' %}">Back</a>
{% endblock %}

{% block content %}
	<table style="width: 100%;">
		<tr>
			<td style="width: 50%; vertical-align: top;">
				<h3>Lesson: <b>{{lesson.name}}</b></h3>
				<div class="small">
					<table class="model">
						<tr>
							<td class="header">Created:</td>
							<td>{{ lesson.created_at|timesince }} ago</td>
						</tr>
						<tr>
							<td class="header">Questions:</td>
							<td class="right">{{ lesson.question_count}}</td>
						</tr>
						<tr>
							<td class="header">To learn:</td>
							<td class="right">{{ lesson.question_to_learn_count}}</td>
						</tr>
					</table>
				</div>
				
				<br/>
				<h3>Questions</h3>
				<div class="pagination">
				    <span class="step-links">
				        {% if question_page.has_previous %}
				            <a href="?page={{ question_page.previous_page_number }}">previous</a>
				        {% endif %}
				
				        <span class="current">
				            Page {{ question_page.number }} of {{ question_page.paginator.num_pages }}.
				        </span>
				
				        {% if question_page.has_next %}
				            <a href="?page={{ question_page.next_page_number }}">next</a>
				        {% endif %}
				    </span>
				</div>
			    <table class="model full_width">
			    	<tr>
			    		<th>Question</th>
			    		<th>Answers</th>
			    		<th>Level</th>
			    		<th>Next repeat</th>
			    	</tr>
			        {% for question in question_page.object_list %}
			        	<tr>
			            	<td><a href="javascript:show_question_details('{{question.id}}')">{{ question.question|truncatewords:5 }}</a></td>
			            	<td>
			            		{% for answer in question.answers %}
									{{answer.answer|truncatewords:5}}<br/>
								{% endfor %}	
			            	</td>
			            	<td>{{question.level}}</td>
			            	<td>
			            		{% if question.next_repeat|date_before_today %}
			            			now!
			            		{% else %}
			            			{{question.next_repeat|days_from_now}}
			            		{% endif %}
			            	</td>
			            </tr>
			        {% endfor %}
			    </table>
			</td>
			<td id="question_frame" style="width: 50%;">
			
			</td>
		</tr>
	</table>
{% endblock %}