{% extends "base.html" %}

{% load url from future %}

{% block extra-menu %}
	<a href="{% url 'words.views.new_lesson' %}">New</a>
{% endblock %}

{% block content %}
	<h3>Lessons</h3>
    <table class="model">
    	<tr>
    		<th>Name</th>
    		<th>Created</th>
    	</tr>
        {% for lesson in lessons %}
        	<tr>
            	<td><a href="{% url 'words.views.lesson_details' lesson.id %}">{{ lesson.name }}</a></td>
            	<td>{{ lesson.created_at|timesince }} ago</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}