{% load url from future %}

<table class="model">
	<tr>
		<td class="header">Question:</td>
		<td>{{question.question}}</td>
	</tr>
	<tr>
		<td class="header">Tip:</td>
		<td>{{question.tip}}</td>
	</tr>
	<tr>
		<td class="header">Image url:</td>
		<td>{{question.image_url}}</td>
	</tr>
	<tr>
		<td class="header">Level:</td>
		<td>{{question.level}}</td>
	</tr>
	<tr>
		<td class="header">Next repeat:</td>
		<td>{{question.next_repeat}}</td>
	</tr>
	<tr>
		<td class="header">To repeat:</td>
		<td>{{question.to_repeat}}</td>
	</tr>
	<tr>
		<td class="header">Created:</td>
		<td>{{question.created_at|timesince}} ago</td>
	</tr>
</table>

<br/>
<b>Answers:</b>
<table class="model full_width">
	<tr>
		<th>Answer</th>
		<th>Tip</th>
		<th>Image URL</th>
	</tr>
	{% for answer in question.answers %}
		<tr>
			<td>{{answer.answer}}</td>
			<td>{{answer.tip}}</td>
			<td>{{answer.image_url}}</td>
		</tr>
	{% endfor %}		
</table>