{% load url from future %}

<table class="model">
	<tr>
		<td class="header">Question:</td>
		<td>{{question.question}}</td>
	</tr>
	<tr>
		<td class="header">Tip:</td>
		<td>{{question.tip}}</td>
	</tr>
	<tr>
		<td class="header">Answer tip:</td>
		<td>{{question.answer_tip}}</td>
	</tr>
	<tr>
		<td class="header">Image url:</td>
		<td>{{question.image_url}}</td>
	</tr>
	<tr>
		<td class="header">Answer image url:</td>
		<td>{{question.answer_image_url}}</td>
	</tr>
	<tr>
		<td class="header">Level:</td>
		<td>{{question.level}}</td>
	</tr>
	<tr>
		<td class="header">E-factor:</td>
		<td>{{question.e_factor}}</td>
	</tr>
	<tr>
		<td class="header">Next repeat:</td>
		<td>{{question.next_repeat}}</td>
	</tr>
	<tr>
		<td class="header">To repeat:</td>
		<td>{{question.to_repeat}}</td>
	</tr>
	<tr>
		<td class="header">Created:</td>
		<td>{{question.created_at|timesince}} ago</td>
	</tr>
</table>

<br/>
<b>Answers:</b>
<table class="model full_width">
	<tr>
		<th>Answer</th>
		<th>Tip</th>
	</tr>
	{% for answer in question.answers %}
		<tr>
			<td>{{answer.answer}}</td>
			<td>{{answer.tip}}</td>
		</tr>
	{% endfor %}		
</table>

<br/>
<b>Levels:</b>
<table class="model full_width">
	<tr>
		<th>Level</th>
		<th>Started</th>
		<th>Day interval</th>
		<th>0</th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>4</th>
		<th>5</th>
	</tr>
	{% for iteration in question.iterations %}
		<tr>
			<td>{{iteration.level}}</td>
			<td>{{iteration.learning_begin|timesince}} ago</td>
			<td>{{iteration.day_interval}}</td>
			<td>{{iteration.answers_0}}</td>
			<td>{{iteration.answers_1}}</td>
			<td>{{iteration.answers_2}}</td>
			<td>{{iteration.answers_3}}</td>
			<td>{{iteration.answers_4}}</td>
			<td>{{iteration.answers_5}}</td>
		</tr>
	{% endfor %}		
</table>