{% extends "base.html" %}

{% load url from future %}
{% load templates %}
{% load static %}

{% block preload_css %}
	
{% endblock %}

{% block preload_js %}
	<script>
		$(document).ready(function(){
			$('#loadingDiv')
			    .hide()  // hide it initially
			    .ajaxStart(function() {
			        $(this).show();
			    })
			    .ajaxStop(function() {
			        $(this).hide();
			    })
			;

			$("body").css("background-color", "black");
			action("{% url 'words.views.learn.ask_question' %}");	
		});
		
		function action(ajax_url, data){
			if(!data){
				data = {};
			}	
		
			$.post(ajax_url, data, function(html) {
			   var resp = $(html);
			   
			   var content = resp.find("#content"); 
			   if(content.length > 0){
			       $("#question_content").html(content.html());	
			   }
			   
			   var js = resp.find("#js_to_invoke"); 
			   if(js.length > 0){
			       eval(js.html());	
			   }
			   
			   var stats = resp.find("#stats");
			   if(stats.length > 0){
			   		$("#stats_content").html(stats.html());
			   }
			   
			   var question_details = resp.find("#question_details");
			   if(question_details.length > 0){
			   		$("#question_details_content").html(question_details.html());
			   }			   
			});
		}
		
		function score(score){
			var url = "{% url 'words.views.learn.score' '0' %}";
			url = url.replace(/0/, score);
			
			action(url);
		}
		
		function check_answer(){
			var url = "{% url 'words.views.learn.check' %}";
			action(url, {'answer': $("#answer_area").val()});
		}
		
		function show_question_popup(url){
			window.open(url, 'Question details','width=700,height=500');
		}
		
		function add_sign(sign){
			$("#answer_area").focus();
			$("#answer_area").val($("#answer_area").val() + sign);
		}
		
	</script>
{% endblock %}

{% block extra-menu %}
	<a href="javascript:$('#kb').show();">Show fonetic keyboard</a>
{% endblock %}

{% block content %}
	<div style="width: 100%; height: 500px;  background-color: grey; ">
		<table style="width: 100%; border: 1px solid grey;">
			<tr>
				{% for item in learning_bunch.items %}
					<td id="question_header_{{item.id}}" style="border: 1px solid black; padding: 0px; text-align: center; background-color: {{item.color}}; height: 10px;">
						{{item.question.level}}
					</td>
				{% endfor %}
			</tr>
		</table>
		<div id="question_content"/>
	</div>
	<div id="stats_content" style="color: white; position: absolute; top: 560px; right: 20px; padding: 2px;">
	</div>
	<div id="question_details_content" style="color: white; position: absolute; top: 560px; left: 20px; padding: 2px;">
	</div>

	<div id="kb" style="display: none; width: 500px; background-color: white; border: 2px solid black; padding: 0px; margin: 0px; position: absolute; top: 560px; right: 150px;">
    	<table align="center">
        	<tr>
            	<td style="text-align: center;">
                	<input type="button" value="&#230;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="e" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x26A;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="i" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x252;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x28C;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x28A;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="a&#x2D0;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x25C;&#x2D0;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="i&#x2D0;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x254;&#x2D0;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="u&#x2D0;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="e&#x259;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x26A;&#x259;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="a&#x26A;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="e&#x26A;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x254;&#x26A;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x259;&#x28A;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="a&#x28A;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x259;" onclick="add_sign(this.value);"></input>
                    <br/>
                    <input type="button" value="b" onclick="add_sign(this.value);"></input>
                    <input type="button" value="t&#x283;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="d" onclick="add_sign(this.value);"></input>
                    <input type="button" value="f" onclick="add_sign(this.value);"></input>
                    <input type="button" value="g" onclick="add_sign(this.value);"></input>
                    <input type="button" value="h" onclick="add_sign(this.value);"></input>
                    <input type="button" value="d&#x292;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="k" onclick="add_sign(this.value);"></input>
                    <input type="button" value="l" onclick="add_sign(this.value);"></input>
                    <input type="button" value="m" onclick="add_sign(this.value);"></input>
                    <input type="button" value="n" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x14B;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="p" onclick="add_sign(this.value);"></input>
                    <input type="button" value="r" onclick="add_sign(this.value);"></input>
                    <input type="button" value="s" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x283;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x292;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="t" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#xF0;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="&#x3B8;" onclick="add_sign(this.value);"></input>
                    <input type="button" value="v" onclick="add_sign(this.value);"></input>
                    <input type="button" value="w" onclick="add_sign(this.value);"></input>
                    <input type="button" value="j" onclick="add_sign(this.value);"></input>
                    <input type="button" value="z" onclick="add_sign(this.value);"></input>
                 </td>
            </tr>
        </table>
        <div style="position: absolute; top: 0px; right: 0px;">
                <span style="cursor: pointer;" onclick="$('#kb').hide();">x&nbsp;</span>
        </div>
	</div>
	
	<div id="loadingDiv">
		Please wait...
		<img src="{% get_static_prefix %}/loading.gif"/>
	</div>

	
{% endblock %}