{% extends "base.html" %}

{% load url from future %}
{% load templates %}
{% load static %}

{% block preload_css %}
	
{% endblock %}

{% block preload_js %}
	<script>
		$(document).ready(function(){
			$('#loadingDiv')
			    .hide()  // hide it initially
			    .ajaxStart(function() {
			        $(this).show();
			    })
			    .ajaxStop(function() {
			        $(this).hide();
			    })
			;

			$("body").css("background-color", "black");
			action("{% url 'words.views.learn.ask_question' %}");	
		});
		
		function action(ajax_url, data){
			if(!data){
				data = {};
			}	
		
			$.post(ajax_url, data, function(html) {
			   var resp = $(html);
			   
			   var content = resp.find("#content"); 
			   if(content.length > 0){
			       $("#question_content").html(content.html());	
			   }
			   
			   var js = resp.find("#js_to_invoke"); 
			   if(js.length > 0){
			       eval(js.html());	
			   }
			   
			   var stats = resp.find("#stats");
			   if(stats.length > 0){
			   		$("#stats_content").html(stats.html());
			   }
			   
			   var question_details = resp.find("#question_details");
			   if(question_details.length > 0){
			   		$("#question_details_content").html(question_details.html());
			   }			   
			});
		}
		
		function score(score){
			var url = "{% url 'words.views.learn.score' '0' %}";
			url = url.replace(/0/, score);
			
			action(url);
		}
		
		function check_answer(){
			var url = "{% url 'words.views.learn.check' %}";
			action(url, {'answer': $("#answer_area").val()});
		}
		
		function show_question_popup(url){
			window.open(url, 'Question details','width=700,height=500');
		}
		
	</script>
{% endblock %}

{% block extra-menu %}
	
{% endblock %}

{% block content %}
	<div style="width: 100%; height: 500px;  background-color: grey; ">
		<table style="width: 100%; border: 1px solid grey;">
			<tr>
				{% for item in learning_bunch.items %}
					<td id="question_header_{{item.id}}" style="border: 1px solid black; padding: 0px; text-align: center; background-color: {{item.color}}; height: 10px;">
						{{item.question.level}}
					</td>
				{% endfor %}
			</tr>
		</table>
		<div id="question_content"/>
	</div>
	<div id="stats_content" style="color: white; position: absolute; top: 560px; right: 20px; padding: 2px;">
	</div>
	<div id="question_details_content" style="color: white; position: absolute; top: 560px; left: 20px; padding: 2px;">
	</div>
	
	<div id="loadingDiv">
		Please wait...
		<img src="{% get_static_prefix %}/loading.gif"/>
	</div>
{% endblock %}