{% extends "minimal.html" %}

{% load url from future %}
{% load templates %}

{% block content %}
	<div id="content">
		<div style="height: 120px;">&nbsp;</div>
		<div id="question" class="asked_question">
			{{question.question|safe}}
		</div>
		{% if question.question.tip %}
			<div id="asked_question_tip" class="asked_question_tip">
				Tip: {{question.question.tip|safe}}
			</div>
		{% endif %}
		{% if question.question.image_url %}
			<div class="question_img">
				<img src="{{question.question.image_url}}" style="max-height: 250px;"/>
			</div>
		{% endif %}
		<div id="answer_form" class="answer_form">
			<textarea id="answer_area" cols="100" rows="1"/>
			<input id="answer_submit_button" type="button" value="Check"/>
		</div>
	</div>
	<div id="js_to_invoke">
		$("#answer_area").focus();
		
		$("#answer_submit_button").bind("click", check_answer);
		$("#answer_area").bind("keypress", function(event){
			if(event.which == 13){
				check_answer();
			}
		});
		
		$(".current_question_header").removeClass('current_question_header');
		$("#question_header_{{question.id}}").addClass('current_question_header');
		
		{% include "learn/change_header_js.html" %}
		
	</div>
	<div id="stats">
		{% include "learn/stats.html" %}
	</div>
	<div id="question_details">
		Level: {{question.question.level}}, created: {{question.question.created_at|timesince}} ago
	</div>
{% endblock %}
