h3{
	margin-top: 0px;
}

.menu{
	background-color: grey;
	border: 0px;
	padding: 10px;
	color: white;
}

.menu a{
	color: white;
	padding-right: 5px;
}

.content{
	padding: 20px;
}

.errorlist li{
	float: right;
	font-size: small;
	color: red;
}

.small{
	font-size: small;
}

.error{
	color: red;
}

input{
	font-family: sans;
}

body{
	margin: 0px;
	font-size: 12px;
	font-family: sans;
}

.full_width{
	width:100%;
}

.model{
	border-collapse:collapse;
}

.smaller{
	font-size: 10px;
}

.model td, .model th{
	font-size: 1.2em;
	border: 1px solid #98BF21;
	padding: 3px 7px 2px 7px;
	background-color: #EAF2D3;
}
.model th, .model td.header{
	font-size:1.4em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:grey;
	color:#fff;
}
.model tr.alt td{
	color:#000;
	background-color:#EAF2D3;
}
#id_question, #id_tip, #id_image_url, .answer_input{
	width: 100%;
}

.asked_question{
	font-size: 17pt;
	font-family: Times;
	width: 100%; 
	text-align: center;
}

.asked_question_tip{
	font-size: 12pt;
	font-family: Times;
	width: 99%; 
	text-align: right;
	color: #222;
}

.answer_buttons{
	width: 100%; 
	text-align: center;
}

.question_img{
	width: 100%;
	text-align: center;
	padding: 5px;
}

.answer_form{
	width: 100%;
	text-align: center;
}

#answer_area, #answer_submit_button{
	vertical-align: middle
}

.results #question{
	font-size: 13pt;
	font-family: Times;
	width: 100%; 
	text-align: center;
	padding-bottom: 10px;
}

.results .wrong{
	font-size: 16pt;
	width: 100%; 
	text-align: center;
	color: red;
}

.results .correct{
	font-size: 16pt;
	width: 100%; 
	text-align: center;
	color: green;
}

#answer_result{
	font-size: 16pt;
	width: 100%; 
	text-align: center;
}

.end{
	font-size: 16pt;
	width: 100%; 
	text-align: center;
}

#answers{
	font-size: 16pt;
	width: 100%; 
	text-align: center;
}

#answers .header{
	font-size: 12pt;
}

#answers .answer{
	font-size: 14pt;
	color: green;
}

.current_question_header{
	border: 2px solid orange !important; 
}

table.stats{
	border: 1px solid white;
	border-collapse: collapse;
}

table.stats td, table.stats ht{
	border: 1px solid white;
	color: white;
	font-size: 10px;
	padding: 1px;
}   

.right{
	text-align: right;
}